<h1>Questions#answer</h1>

<div class="container">
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-lg-6 col-sm-offset-3 col-lg-offset-3 col-xs-offset-3 ">
      <div class="form-control">
        <%= @input %>
      </div>
      <%= @answer_coach %>
      <%= link_to "Return", ask_path  %>
    </div>
  </div>
</div>




